/* qheroes/home/home.css */
body * {
    display: block;

    background: none;

    border: none;

    font-family: "Zilla Slab", Roboto;
}

html, body, .mc4c94559e_home {
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Zilla Slab";
    src:
        url(qheroes/shared/font/Zilla Slab/ZillaSlab-Bold.tff) format("truetype"),
        url(qheroes/shared/font/Zilla Slab/ZillaSlab-BoldItalic.tff) format("truetype"),
        url(qheroes/shared/font/Zilla Slab/ZillaSlab-Italic.tff) format("truetype"),
        url(qheroes/shared/font/Zilla Slab/ZillaSlab-LightItalic.tff) format("truetype"),
        url(qheroes/shared/font/Zilla Slab/ZillaSlab-Medium.tff) format("truetype"),
        url(qheroes/shared/font/Zilla Slab/ZillaSlab-MediumItalic.tff) format("truetype"),
        url(qheroes/shared/font/Zilla Slab/ZillaSlab-Regular.tff) format("truetype"),
        url(qheroes/shared/font/Zilla Slab/ZillaSlab-SemiBold.tff) format("truetype"),
        url(qheroes/shared/font/Zilla Slab/ZillaSlab-SemiBoldItalic.tff) format("truetype");
}

/* qheroes/home/components/layout/layout.css */
.mce64e9766_layout {
    width: 100%;
    height: 100%;

    display: grid;

    grid-template:
        "nav"  15%
        "."    auto
        "gold" 15% /
        100%
}
/* qheroes/home/components/layout/nav/nav.css */
.mcbf211cd9_nav {
    width: 98%;
    height: 15%;

    padding: 0.1rem;
    margin: 0;

    grid-area: nav;
}
.mcbf211cd9_navbutton {
    font-size: 3rem;
    border: 1px solid black;
    box-shadow: 1px 1px black;
}
/* qheroes/home/components/gold/gold.css */
.mc1e7f2ccf_goldwidget {
    grid-area: gold;

    width: 25rem;

    margin: auto;
}
.mc1e7f2ccf_gold {
    text-align: center;
}
.mc1e7f2ccf_mine {
    font-size: 3rem;

    margin: 0.25rem auto;

    border: 1px solid black;

    box-shadow: 1px 1px black;
}
